<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.quizapp">

    <supports-screens android:resizeable="true"
        android:smallScreens="false"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="false"
        android:anyDensity="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="false"
        android:largeHeap="true">

        <meta-data android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />

        <activity android:name="com.klosote.android.quizapp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.klosote.android.quizapp.CategorySelection">
            <intent-filter>
                <action android:name="com.klosote.android.quizapp.CategorySelection" />

                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>
        </activity>

        <activity android:name="com.klosote.android.quizapp.ScienceQuestions">
            <intent-filter>
                <action android:name="com.klosote.android.quizapp.ScienceQuestions" />

                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>
        </activity>

        <activity android:name="com.klosote.android.quizapp.EnterQuestions">
            <intent-filter>
                <action android:name="com.klosote.android.quizapp.EnterQuestions" />

                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>
        </activity>

        <activity android:name="com.klosote.android.quizapp.HistoryQuestions">
            <intent-filter>
                <action android:name="com.klosote.android.quizapp.HistoryQuestions" />

                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>
        </activity>

        <activity android:name="com.klosote.android.quizapp.GeographyQuestions">
            <intent-filter>
                <action android:name="com.klosote.android.quizapp.GeographyQuestions" />

                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>
        </activity>

        <activity android:name="com.klosote.android.quizapp.SportsQuestions">
            <intent-filter>
                <action android:name="com.klosote.android.quizapp.SportsQuestions" />

                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>
        </activity>

        <activity android:name="com.klosote.android.quizapp.VGamesQuestions">
            <intent-filter>
                <action android:name="com.klosote.android.quizapp.VGamesQuestions" />

                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>
        </activity>

        <activity android:name="com.klosote.android.quizapp.FinalActivity">
            <intent-filter>
                <action android:name="com.klosote.android.quizapp.FinalActivity" />

                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>
        </activity>
        <activity android:name="com.klosote.android.quizapp.SendQuestions">
        <intent-filter>
            <action android:name="com.klosote.android.quizapp.SendQuestions" />

            <category android:name="android.intent.category.DEFAULT" />

        </intent-filter>
    </activity>
    </application>


</manifest>