<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.quizapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="false"
        android:largeHeap="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".CategorySelection">
            <intent-filter>
                <action android:name="com.example.android.quizapp.CategorySelection" />

                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>
        </activity>

        <activity android:name=".ScienceQuestions">
            <intent-filter>
                <action android:name="com.example.android.quizapp.ScienceQuestions" />

                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>
        </activity>

        <activity android:name=".EnterQuestions">
            <intent-filter>
                <action android:name="com.example.android.quizapp.EnterQuestions" />

                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>
        </activity>

        <activity android:name=".HistoryQuestions">
            <intent-filter>
                <action android:name="com.example.android.quizapp.HistoryQuestions" />

                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>
        </activity>

        <activity android:name=".GeographyQuestions">
            <intent-filter>
                <action android:name="com.example.android.quizapp.GeographyQuestions" />

                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>
        </activity>

        <activity android:name=".SportsQuestions">
            <intent-filter>
                <action android:name="com.example.android.quizapp.SportsQuestions" />

                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>
        </activity>

        <activity android:name=".VGamesQuestions">
            <intent-filter>
                <action android:name="com.example.android.quizapp.VGamesQuestions" />

                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>
        </activity>

        <activity android:name=".FinalActivity">
            <intent-filter>
                <action android:name="com.example.android.quizapp.FinalActivity" />

                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>
        </activity>
    </application>

</manifest>